*.fls
*.bbl
*.glo
*.ilg
*.ind
*.ist
*.xdy
*.fdb_latexmk
*.blg
*.acn

*.mat

*.pyc

*sublime-workspace

bfiles_*

partitionParse.c

paramotopy
!paramotopy/
step2
!step2/
libpartitionParse*

generated_documentation

*.cache*

paramotopy-*.tar.gz




traces*
Makefile
Makefile.in
install-sh
ltmain.sh
missing
ylwrap
config/*
configure
config.h*
aclocal*
requests
config
config.*
libtool*
ltsugar*
ltoption*
lt-*
stamp-*
lt~*
ltversion*
.dirstamp

.libs
.deps
*.a
*.la
*.Po
*.o
*.lo
*.o-*


*.aux
*.log
*.taz.gz
*.out
*.idx
*.toc
*.synctex.gz
configure~
.DS_Store
examples/my_script~
*.asv

*/reorderc

*.ac~
examples/bio_grid_two_params_40x50/reorderc
